.navigation-title {
  text-transform: none !important;
}

.section-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.section-lhs {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.lhs-divider {
  padding: 0 0.5rem;
  font-size: larger;
}

.job {
  font-weight: normal;
  font-size: larger;
}

.location {
  font-style: italic;
  font-weight: normal;
  font-size: large;
}

.dates {
  font-weight: normal;
}


label {
  display: block;
  font-size: larger;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.return-contact-info {
  display: flex;
}
