:root {
}

.post {
  /* margin-top: 0; */
}

.post-title {
  margin-top: 0 !important;
}

.section-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.section-lhs {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.lhs-divider {
  padding: 0 0.5rem;
  font-size: larger;
}

.job {
  font-weight: normal;
  font-size: larger;
}

.location {
  font-style: italic;
  font-weight: normal;
  font-size: large;
}

.dates {
  font-weight: normal;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  font-size: larger;
}

input {
  margin-bottom: 1rem;
  padding: 0.5rem 0.25rem;
  font-family: inherit;
  outline: 0;
  color: inherit;
  background-color: inherit;
  border: 0;
  border-bottom: 1px solid var(--accent);
}

input[type="submit"] {
  font-size: larger;
  align-self: flex-end;
  padding: 0.5rem 1.5rem;
  background-color: var(--accent);
  color: black;
}

textarea {
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem;
  font-family: inherit;
  outline: 0;
  color: inherit;
  background-color: inherit;
  border: 0;
  border-bottom: 1px solid var(--accent);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.return-contact-info {
  display: flex;
}
