<form name="contact" netlify>
  <div class="flex">
    <div class="field">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="" required />
    </div>

    <div class="field">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" value="" />
    </div>
  </div>

  <div class="field">
    <label for="message">Message</label>
    <textarea name="message" id="" rows="5" required></textarea>
  </div>

  <input type="submit" value="Send" />
</form>
